<% layout('layouts/boilerplate') %>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col-6 offset-3">
                <h1 class="text-center">Café Advisor</h1>
                <p class="text-center"> Welcome to Café Advisor! </p>
                <p class="text-center"> Jump right in and explore our many coffee shopes.
                    <br> Feel free to share some of your own and comment on others!
                </p>
            </div>
        </div>
    </div>